@{
    ViewData["Title"] = "Web URL Yönetimi";
}

<div class="page-designer">
    <div class="flex flex-wrap items-center mb-8">
        <div class="w-full">
            <div class="page-title-box">
                <h4
                    class="text-2xl font-bold text-slate-800 inline-block after:content-[''] after:absolute after:bottom-[-8px] after:left-0 after:w-10 after:h-[3px] after:bg-purple-800 after:rounded-full">
                    Web URL Yönetimi
                </h4>
                <p class="text-slate-500 mt-3 max-w-xl">
                    Web sitenizin URL yapısını özelleştirebilir, SEO'ya uygun linkler oluşturabilir ve yönlendirmeleri
                    yönetebilirsiniz.
                </p>
            </div>
        </div>
    </div>

    <!-- WebUrl Listesi Partial'ı -->
    @await Html.PartialAsync("_WebUrlList")
</div>

<!-- WebUrl CRUD Modal Partialları -->
@await Html.PartialAsync("_WebUrlCreate")
@await Html.PartialAsync("_WebUrlEdit")
@await Html.PartialAsync("_WebUrlDelete")

@section Scripts {
    <script src="~/js/Content/Content.WebUrl.js"></script>
}